@import 'components/bootstrap-variables';
@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-vue/src/index.scss';
@import 'components/custom-variables';
@import 'components/theme';
@import 'components/navbar';
@import 'components/login';
@import 'components/table';
@import 'components/profile';
@import 'components/about';
@import 'components/home';
@import 'components/register';
