#about {
  .card {
    max-width: 1500px;
    opacity: 0.9;
    width: 90%;
    margin: 7% 10% 0;
    padding-bottom: 13%;

    h3 {
      letter-spacing: 3px;
      color: rgba(61, 61, 61, 0.87);
    }
  }

  .row {
    padding: 40px;

    h2 {
      position: absolute;
      letter-spacing: 4px;
      color: rgba(61, 61, 61, 0.87);
      font-size: 70px;
      padding: 30% 22%;
    }

    .card-text {
      margin-top: 10%;
      font-size: 17px;
    }

    .card-img {
      padding: 4% 3%;
      position: absolute;
    }
  }
}
