#about {
  .card {
    max-width: 1500px;
    opacity: 0.9;
    width: 90%;
    margin: 30px auto 30px;

    @include media-breakpoint-up(md) {
      margin-top: 70px;
    }

    h3 {
      letter-spacing: 3px;
    }

    .card-body {
      .card-text {
        font-size: 17px;
      }

      @include media-breakpoint-up(md) {
        padding: 120px;
      }
    }

    .card-head {
      align-items: center;
      text-align: center;
      flex-direction: column;
      justify-content: space-around;
      display: flex;
      width: 100%;
      height: 100%;
      background-image: url('https://picsum.photos/id/300/4272/3048');
      background-position: bottom center;
      background-size: cover;

      h1 {
        letter-spacing: 4px;
        text-shadow: 0 0 5px transparentize($white, .3);
      }
    }
  }
}
