.profile {

  //background-color: #EEF1F4;
  h5 {
    margin-top: 25px;
  }

  .container {
    width: 30%;
  }

  .avatar {
    max-width: 20rem;
    text-align: center;
    margin: auto;
    background-color: #f4f5f7;
  }

  .mt-3 {
    margin-top: 0 !important;
    background-color: white;
  }

  .tab-pane {
    //padding: 100px;
  }

  .nav-tabs {
    margin-top: 30px;
  }
}
