.profile {
  background-color: $white;
  min-height: calc(100vh - #{$navbar-height});

  h5 {
    margin-top: 25px;
  }

  .tab-content-container {
    background-color: $white;
  }

  .avatar-wrapper,
  .nav-tabs {
    background-color: $profile-header-bg-color;
  }

  .profile-info {
    text-align: center;
    padding-top: 30px;
    line-height: 30px;
  }

  .avatar {
    max-width: 20rem;
    text-align: center;
    margin: auto;
    padding: 30px 0;
  }

  .b-toast {
    width: 275px;
    input {
      width: 250px;
    }
  }
}
