.profile {
  h5 {
    margin-top: 25px;
  }
  .edit-button {
    text-align: center;
    margin-top: 10px;

    .btn-outline-secondary {
      padding: 5px 10px;
    }

    i {
      margin-right: 5px;
    }
  }

  .container {
    width: 30%;
  }

  .avatar {
    max-width: 20rem;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    background-color: #f4f5f7;
  }
}
