.custom-container {
  width: 100%;
  margin: 0 auto;

  @include media-breakpoint-up(md) {
    width: 80%;
  }
}

.add-button {
  text-align: right;
  margin-top: 10px;
  margin-bottom: 10px;

  i {
    margin-right: 5px;
  }
}

.table-actions {
  .action {
    margin-right: 10px;

    i {
      font-size: 1.1em;
    }
  }

  .text-danger {
    margin-left: 10px;
  }
}

table {
  opacity: 0.9;
  background-color: #fff !important;
}

.list {
  min-height: calc(100vh - #{$navbar-height});

  h2{
    padding-top: 15px;
    text-align: center;
    text-shadow: 0 0 5px transparentize($white, .3);
    letter-spacing: 3px;
  }

  hr {
    border: 0;
    height: 4px;
    width: 500px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), $gray-500, rgba(0, 0, 0, 0));
  }

  .filter-page {
    margin-top: 30px;
  }

  .user-role {
    margin-right: 10px;
  }

  .table-actions {
    margin-left: 20px;

    .action {
      margin-right: 10px;
    }
    i {
      color: $black;
      font-size: 1.1em;
    }
  }

  .badge {
    font-size: 12px;
  }
}

