.custom-container {
  width: 100%;
  margin: 0 auto;

  @include media-breakpoint-up(md) {
    width: 80%;
  }
}

#users {
  .user-role {
    margin-right: 10px;
  }

  .table-actions {
    .action {
      margin-right: 10px;
    }
    i {
      color: black;
      font-size: 1.1em;
    }
  }

  .list-of-accounts {
    text-align: right;
    margin-top: 10px;
    margin-bottom: 10px;

    i {
      margin-right: 5px;
    }
  }

  table {
    opacity: 0.9;
    background-color: #fff !important;
  }

  .badge {
    font-size: 12px;
  }
}

.b-table {
  //width: 50%;
  margin: 0 auto;
}

.table-actions {
  .action {
    margin-right: 10px;
  }
}

.list-of-projects {
  text-align: right;
  margin-top: 10px;
  margin-bottom: 10px;

  .btn-secondary {
    padding: 5px 10px;
  }

  i {
    margin-right: 5px;
  }
}
table {
  opacity: 0.9;
  background-color: #fff !important;
}
