.container-fluid{
  width: 50%;
}

.table-actions {
  .action {
    margin-right: 10px;
  }
}

.list-of-projects {
  text-align: right;
  margin-top: 10px;
  margin-bottom: 10px;

  .btn-secondary {
    padding: 5px 10px;
  }
  i {
    margin-right: 5px;
  }
}
