html, body {
  min-height: 100%;
}

body {
  background-color: #EEF1F4;
  background-image: url('~/img/background.jpg');
  background-size: 100% auto;
  background-repeat: no-repeat;
  min-height: 100vh;
}
.app-wrapper {
  min-height: 100vh;
}
